---

---

<div class="sub-title">
  <div class="container">
    <h3><span>Best Sellers</span></h3>
    <div class="slider-best-sellers owl-carousel owl-theme owl-loaded owl-drag">
      <div class="slide">
        <div class="box">
          <div class="row box-content">
            <div class="col-5 col-md-4 product-img-box">
              <div class="product-img position-relative">
                <img
                  src="https://s3.eu-central-1.amazonaws.com/storage.jaysdinerng.com/343/conversions/jays-diner-american-classic-hotdog-with-cheddar-dip-sauce-and-crispy-chips-thumb.webp"
                  alt=" jays diner American classic hotdogs with sausage, crispy chips, cheddar sauce, mustard, mayonnaise, and ketchup "
                />
              </div>
            </div>
            <div class="col-7 col-md-8 box-2">
              <div class="product-content">
                <div class="title">AMERICAN CLASSIC</div>
                <div class="product-info">
                  <div class="price">₦ 5,300</div>
                  <div class="add-to-cart">
                    <a
                      href="javascript:void(0)"
                      class="show-modal"
                      data-product="30"
                      ><span class="desk">Add to cart</span>
                      <span class="mob">Add</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slide">
        <div class="box">
          <div class="row box-content">
            <div class="col-5 col-md-4 product-img-box">
              <div class="product-img position-relative">
                <img
                  src="https://s3.eu-central-1.amazonaws.com/storage.jaysdinerng.com/346/conversions/jays-diner-vanilla-milkshake-thumb.webp"
                  alt=" jays diner vanilla milkshake "
                />
              </div>
            </div>
            <div class="col-7 col-md-8 box-2">
              <div class="product-content">
                <div class="title">VANILLA SHAKE</div>
                <div class="product-info">
                  <div class="price">₦ 6,500</div>
                  <div class="add-to-cart">
                    <a
                      href="javascript:void(0)"
                      class="show-modal"
                      data-product="50"
                      ><span class="desk">Add to cart</span>
                      <span class="mob">Add</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slide">
        <div class="box">
          <div class="row box-content">
            <div class="col-5 col-md-4 product-img-box">
              <div class="product-img position-relative">
                <img
                  class="sm-chili-icon"
                  src="https://jaysdinerng.com/images/new_chilli.png"
                  alt="chili - jaysdiner"
                />
                <img
                  class="sm-new-icon"
                  src="https://jaysdinerng.com/images/new.png"
                  alt="New - jaysdiner"
                />
                <img
                  src="https://s3.eu-central-1.amazonaws.com/storage.jaysdinerng.com/402/conversions/Asun-Pasta-thumb.webp"
                  alt=" asun pasta, jays diner, ikoyi "
                />
              </div>
            </div>
            <div class="col-7 col-md-8 box-2">
              <div class="product-content">
                <div class="title">CLASSIC ASUN</div>
                <div class="product-info">
                  <div class="price">₦ 8,000</div>
                  <div class="add-to-cart">
                    <a
                      href="javascript:void(0)"
                      class="show-modal"
                      data-product="61"
                      ><span class="desk">Add to cart</span>
                      <span class="mob">Add</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
