---
import Hero from "../components/Hero.astro";
import MessageContainer from "../components/MessageContainer.astro";
import BestSellers from "../components/Sections/BestSellers.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Fariz Grillz">
  <Hero />
  <BestSellers />
  <div style="min-height: 1000px;"></div>

  <MessageContainer title="Fariz Grillz" />
</Layout>
