---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="footer home">
  <div class="footer-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="logo">
            <img src="#" alt="Fariz Grillz" />
          </div>
          <div class="web-links">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="">About</a></li>
              <li>
                <a href="/contact-us">Contact Us</a>
              </li>
            </ul>
          </div>
          <div class="web-social-links">
            <ul>
              <li>
                <a href="#" target="_blank"
                  ><i class="fa-brands fa-facebook-f"></i></a
                >
              </li>
              <li>
                <a href="#" target="_blank"
                  ><i class="fa-brands fa-twitter"></i></a
                >
              </li>
              <li>
                <a href="#" target="_blank"
                  ><i class="fa-brands fa-instagram"></i></a
                >
              </li>
            </ul>
          </div>
          <div class="copy-right">
            © Copyright {title}, a Waterfront Lagos Company. All Rights
            Reserved.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
