---
import woo from "../lib/woocommerce";
interface resData {
  name: string;
  parent: string;
  count: number;
}
const res = await woo.get("/products/categories");
const data: resData[] = res.data ?? null;
---

<div id="nav-desktop" class="nav-desktop navy home">
  <div class="container">
    <div class="logo">
      <a href="https://jaysdinerng.com">
        <span>Fariz Grillz</span>
        <!-- <img
          src="https://jaysdinerng.com/images/logos/white_Logo.png"
          alt="Jaysdiner"
          class="logo-without-sticky d-none"
        />
        <img
          src="https://jaysdinerng.com/images/logos/red_Logo.png"
          alt="Jaysdiner"
          class="logo-with-sticky"
        /> -->
      </a>
    </div>
    <ul class="list-nav">
      {
        data &&
          data.map((item) => (
            <li class="link">
              <a href="/#hotdogs">{item.name}</a>
            </li>
          ))
      }
      <!-- {} -->
      <li class="link">
        <a href="/contact-us">CONTACT US</a>
      </li>
    </ul>
    <div class="profile-cart d-flex align-items-center">
      <!-- <div class="profile">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          class="logo-without-sticky d-none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_2209_668)">
            <path
              d="M3 20C5.33579 17.5226 8.50702 16 12 16C15.493 16 18.6642 17.5226 21 20M16.5 7.5C16.5 9.98528 14.4853 12 12 12C9.51472 12 7.5 9.98528 7.5 7.5C7.5 5.01472 9.51472 3 12 3C14.4853 3 16.5 5.01472 16.5 7.5Z"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </g>
          <defs>
            <clipPath id="clip0_2209_668">
              <rect width="24" height="24" fill="white"></rect>
            </clipPath>
          </defs>
        </svg>
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          class="logo-with-sticky"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_2209_3930)">
            <path
              d="M3 20C5.33579 17.5226 8.50702 16 12 16C15.493 16 18.6642 17.5226 21 20M16.5 7.5C16.5 9.98528 14.4853 12 12 12C9.51472 12 7.5 9.98528 7.5 7.5C7.5 5.01472 9.51472 3 12 3C14.4853 3 16.5 5.01472 16.5 7.5Z"
              stroke="#D82D28"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </g>
          <defs>
            <clipPath id="clip0_2209_3930">
              <rect width="24" height="24" fill="white"></rect>
            </clipPath>
          </defs>
        </svg>
        <a
          href="javascript::void(0)"
          data-bs-toggle="modal"
          data-bs-target="#authenticationModal">Login</a
        >
      </div> -->
      <div class="cart">
        <div class="content d-flex align-items-center">
          <span
            ><svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              class="logo-without-sticky d-none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M18.3165 7.625H5.68533C5.53152 7.625 5.38311 7.68172 5.2685 7.7843C5.1539 7.88687 5.08114 8.02811 5.06415 8.18098L3.95304 18.181C3.94333 18.2683 3.95216 18.3568 3.97895 18.4405C4.00574 18.5242 4.04989 18.6013 4.10851 18.6668C4.16714 18.7323 4.23891 18.7847 4.31916 18.8206C4.39941 18.8565 4.48632 18.875 4.57422 18.875H19.4276C19.5155 18.875 19.6024 18.8565 19.6827 18.8206C19.7629 18.7847 19.8347 18.7323 19.8933 18.6668C19.952 18.6013 19.9961 18.5242 20.0229 18.4405C20.0497 18.3568 20.0585 18.2683 20.0488 18.181L18.9377 8.18098C18.9207 8.02811 18.848 7.88687 18.7334 7.7843C18.6187 7.68172 18.4703 7.625 18.3165 7.625Z"
                stroke="#D82D28"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M8.875 6.7915C8.875 5.9627 9.20424 5.16785 9.79029 4.5818C10.3763 3.99574 11.1712 3.6665 12 3.6665C12.8288 3.6665 13.6237 3.99574 14.2097 4.5818C14.7958 5.16785 15.125 5.9627 15.125 6.7915"
                stroke="#D82D28"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              class="logo-with-sticky"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M18.3155 7.625H5.68435C5.53054 7.625 5.38214 7.68172 5.26753 7.7843C5.15292 7.88687 5.08016 8.02811 5.06318 8.18098L3.95206 18.181C3.94236 18.2683 3.95119 18.3568 3.97798 18.4405C4.00477 18.5242 4.04892 18.6013 4.10754 18.6668C4.16616 18.7323 4.23794 18.7847 4.31818 18.8206C4.39843 18.8565 4.48534 18.875 4.57324 18.875H19.4267C19.5146 18.875 19.6015 18.8565 19.6817 18.8206C19.762 18.7847 19.8337 18.7323 19.8924 18.6668C19.951 18.6013 19.9951 18.5242 20.0219 18.4405C20.0487 18.3568 20.0575 18.2683 20.0478 18.181L18.9367 8.18098C18.9197 8.02811 18.847 7.88687 18.7324 7.7843C18.6178 7.68172 18.4694 7.625 18.3155 7.625Z"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M8.875 6.7915C8.875 5.9627 9.20424 5.16785 9.79029 4.5818C10.3763 3.99574 11.1712 3.6665 12 3.6665C12.8288 3.6665 13.6237 3.99574 14.2097 4.5818C14.7958 5.16785 15.125 5.9627 15.125 6.7915"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </span>
          Cart | <span class="crt-count">0</span>
        </div>
      </div>
    </div>
  </div>
</div>
